{%extends 'base1.html' %}

{% block head %}
{% endblock %}

{% block body %}

{% for row in info %}
            <div class="postcontainer">
                <div class="profileinfo">
                    <img src="http://localhost:5000/{{row[3]}}" width="30px" style="border-radius: 50%;">
                    <span style="font-size: 30px;">{{row[1]}}</span>
                </div>
                <div class="postpic">
                    <img src="http://localhost:5000/{{row[0]}}">
                </div>
                <div class="likeAndComment">
                    <a href="/like/{{row[2]}}"><img src="/static/image/blackheart.png" id="heart" ></a>
                    <img src="/static/image/redHeart (1).png" id="heart">
                    <form method="post" action="/comment/{{row[2]}}">
                        <input type="text" placeholder="Comment Here" name="comment" />
                        <input type="submit" value="Comment">
                    </form>
                </div>
                    <ul>
                        {% for rows in comments %}
                        <li style="list-style: none;"><b>{{row[1]}}:</b>{{rows[0]}}</li><bR>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        

{% endblock %}
